@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');


body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.logo {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

@media (max-width: 768px) {

    .logo {
        display: none;
    }
}

@media (max-width: 480px) {

    .container {
        height: auto;
        overflow-y: hidden;
    }

    .logo {
        display: none;
    }
}